$color-white: #ffffff;
$color-black: #000000;

$color-dark-grey: #bdbdbd;
$color-grey: #e1e1e1;
$color-light-grey: #f5f5f5;

$color-dark-blue-grey: #102027;
$color-blue-grey: #37474f;
$color-light-blue-grey: #62727b;

//body
$color-body-background:  $color-light-grey;
$color-font: $color-dark-blue-grey;

//calculator
$color-calc-background: $color-dark-grey;
$color-calc-result-background: $color-blue-grey;
$color-calc-result-text: $color-white;
$color-calc-button-background: $color-light-grey;
$color-calc-button-background-active: $color-grey;
$color-calc-button-background2: $color-grey;
$color-calc-button-background2-active: $color-dark-grey;
